HELP.md
*.properties text eol=lf
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
# 💥 절대 금지: 데이터베이스 파일 (네 소중한 기록이지 이말이여!)
/data/

# 🔒 초비상: 민감한 설정값 (이메일 비번 포함되어 있다 유남생?!?)
src/main/resources/application.properties
