spring.application.name=book-log
# DB ?? ?? (H2 ??? ??)
# ?? mem ??? ??? ??? ?? ??? ????!
spring.datasource.url=jdbc:h2:file:./data/booklog;DB_CLOSE_DELAY=-1

# ???? ??? ?? ?? ???? ??
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

# JPA ?? (??? ?? ??)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# ?? ??? ?? ?? (?? ?? ??? ???!)
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

# H2 ?? ?? ?? (?????? DB ? ? ??!)
spring.h2.console.enabled=true

# ?? ?? ?? (Gmail ??)
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=???@gmail.com
spring.mail.password=???????16??
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true